<template>
    <LayoutDefault>
      <v-data-table
        :headers="headers"
        :items="checkins"
        :items-per-page="5"
        class="elevation-1"
      ></v-data-table>
    </LayoutDefault>
</template>

<script>
  import LayoutDefault from "@/components/LayoutDefault";
  import checkin from '@/services/checkin';
  import * as moment from 'moment';

  export default {
    name: "Checkins",
    components: { LayoutDefault },
    mounted() {
      this.loadCheckins();
    },
    data: () => ({
      headers: [
        { text: 'Livro', value: 'book.title' },
        { text: 'Previsão de Entrega', value: 'dueDate' },
        { text: 'Data entregue', value: 'returnedDate' }
      ],
      checkins: [],
    }),
    methods: {
      async loadCheckins() {
        const response = await checkin.getAll();
        this.checkins = response.checkins.map(checkin => ({
          ...checkin,
          dueDate: moment(checkin.dueDate).format('DD/MM/YY'),
          returnedDate: moment(checkin.returnedDate).format('DD/MM/YY'),
        }))
      }
    }
  }
</script>
