<template>
  <LayoutDefault>
    <v-data-table
      :headers="headers"
      :items="checkouts"
      :items-per-page="5"
      class="elevation-1"
    >
      <template v-slot:item.action="{ item }">
        <v-btn text color="orange" @click="checkin(item)">
          <v-icon>mdi-basket-unfill</v-icon>
          Devolver
        </v-btn>
      </template>
    </v-data-table>
  </LayoutDefault>
</template>

<script>
  import LayoutDefault from "@/components/LayoutDefault";
  import checkout from '@/services/checkout';
  import checkin from '@/services/checkin';
  import * as moment from 'moment';

  export default {
    name: "Checkouts",
    components: {LayoutDefault},
    data: () => ({
      checkouts: [],
      headers: [
        { text: 'Livro', value: 'book.title' },
        { text: 'Data de Entrega', value: 'dueDate' },
        { text: 'Ações', value: 'action', sortable: false },
      ]
    }),
    mounted() {
      this.loadCheckouts();
    },
    methods: {
      /**
       * Checkin item
       */
      async checkin(item) {
        try {
          await checkin.create(item._id);
          this.$swal({
            type: 'success',
            title: 'Livro Devolvido',
            text: `O livro ${item.book.title} foi devolvido com sucesso`,
            timer: 2000
          });
          this.loadCheckouts();
        } catch (err) {
          this.$swal({
            type: 'error',
            title: 'Erro ao devolver',
            text: 'Ocorreu um erro ao devolver o livro. Tente novamente por favor',
            timer: 2000
          });
        }
      },

      /**
       * Load checkouts
       * @returns {Promise<void>}
       */
      async loadCheckouts() {
        const response = await checkout.getAll();
        this.checkouts = response.checkouts.map(checkout => {
          return {
            ...checkout,
            dueDate: moment(checkout.dueDate).format('DD/MM/YY')
          }
        });
      }
    }
  }
</script>

<style scoped>

</style>
