<template>
  <LayoutDefault>
    <v-row align="center" justify="center">
      <v-col cols="8">
        <v-text-field
          v-model="filters.search"
          label="Pesquisar"
          prepend-icon="mdi-magnify"
          clearable
        ></v-text-field>
      </v-col>
      <v-col cols="2">
        <v-switch v-model="filters.available" label="Disponíveis"></v-switch>
      </v-col>
      <v-col cols="2">
        <v-btn text @click="filter">Buscar</v-btn>
      </v-col>
    </v-row>
    <v-row dense>
      <v-col
        v-for="book in books"
        :key="book.id"
      >
        <BookCard :book="book" v-on:checkout="checkout"/>
      </v-col>
    </v-row>
  </LayoutDefault>
</template>

<script>
  import LayoutDefault from '@/components/LayoutDefault'
  import BookCard from "@/components/BookCard";
  import book from "@/services/book";
  import checkout from '@/services/checkout';

  export default {
    components: {
      BookCard,
      LayoutDefault,
    },
    data: () => ({
      books: [],
      filters: {
        search: '',
        available: false
      }
    }),
    mounted() {
      this.getBooks();
    },
    methods: {
      /**
       * Get new books with given filters
       */
      filter() {
        this.getBooks(this.filters);
      },

      /**
       * Get books
       * @param filters
       * @returns {Promise<void>}
       */
      async getBooks(filters = {}) {
        const response = await book.getAll(filters);
        this.books = response.books;
      },
      /**
       * Checkout book
       * @param book
       */
      async checkout(book) {
        try {
          await checkout.create({ book: book._id });
          this.$swal({
            type: 'success',
            title: 'Livro Retirado',
            text: `O livro ${book.title} foi retirado com sucesso`,
            timer: 2000
          });
          this.getBooks();
        } catch (_) {
          this.$swal({
            type: 'error',
            title: 'Erro ao retirar',
            text: 'Ocorreu um erro ao retirar o livro. Tente novamente por favor',
            timer: 2000
          });
        }
      }
    }
  };
</script>
