<template>
  <LayoutDefault>
    <ValidationObserver ref="form" v-slot="{ invalid, passes }">
      <v-card v-if="user">
        <v-card-text>
          <v-form>
            <VTextFieldWithValidation
              icon="mdi-account"
              label="Nome"
              rules="required"
              v-model="user.name"
              vid="name"
            />
            <VTextFieldWithValidation
              icon="mdi-email"
              label="E-mail"
              rules="required|email"
              type="email"
              vid="email"
              autocomplete="username"
              v-model="user.email"
            />
            <VTextFieldWithValidation
              icon="mdi-crosshairs"
              label="CEP"
              type="text"
              vid="cep"
              @change="changeCep"
              v-mask="'#####-###'"
              v-model="address.cep"
            />
            <VTextFieldWithValidation
              icon="mdi-map-marker"
              label="Logradouro"
              type="text"
              vid="street"
              v-model="address.street"
            />
            <VTextFieldWithValidation
              icon="mdi-map-marker"
              label="Número"
              type="text"
              vid="number"
              v-model="address.number"
            />
            <VTextFieldWithValidation
              icon="mdi-map-marker"
              label="Bairro"
              type="text"
              vid="district"
              v-model="address.district"
            />
            <VTextFieldWithValidation
              icon="mdi-city"
              label="Cidade"
              type="text"
              vid="city"
              v-model="address.city"
            />
            <VTextFieldWithValidation
              icon="mdi-map"
              label="Estado"
              type="text"
              vid="state"
              v-model="address.state"
            />
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer/>
          <v-btn color="primary" @click="passes(submit)" :disabled="invalid">Salvar</v-btn>
        </v-card-actions>
      </v-card>
    </ValidationObserver>
  </LayoutDefault>
</template>

<script>
  import { ValidationObserver } from "vee-validate";
  import LayoutDefault from "@/components/LayoutDefault";
  import users from '@/services/users';
  import VTextFieldWithValidation from "@/components/inputs/VTextFieldWithValidation";
  import cep from '@/services/cep';
  export default {
    components: {
      LayoutDefault,
      ValidationObserver,
      VTextFieldWithValidation
    },
    data: () => ({
      user: null,
      address: {}
    }),
    methods: {
      /**
       * Update user data
       */
      async submit() {
        try {
          await users.update({
            ...this.user,
            address: this.address
          });
          this.showAlert(
            'Usuário atualizado',
            'Os dados do usuário foram atualizados com sucesso',
            'success'
          );
        } catch (_) {
          this.showAlert(
            'Erro ao atualizar',
            'Ocorreu um erro ao atualizar dados do usuário. Por favor tente novamente',
            'error'
          );
        }
      },

      /**
       * Get address on change cep
       */
      async changeCep() {
        try {
          this.address = await cep.getAddressByCep(this.address.cep);
        } catch (_) {
          this.$refs.form.setErrors({
            'cep': ['Valor inválido']
          });
        }
      },

      /**
       * Show error
       * @param title
       * @param text
       */
      showAlert(title, text, type) {
        this.$swal({
          type,
          title,
          text,
          timer: 2000
        });
      }
    },
    async mounted() {
      try {
        this.user = await users.profile();
        this.address = this.user.address || {};
      } catch (_) {
        this.showAlert(
          'Erro ao consultar',
          'Ocorreu um erro ao consultar o usuário. Tente novamente por favor',
          'error'
        );
      }
    }
  };
</script>
