<template>
  <v-app id="inspire">
    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            md="4"
            sm="8"
          >
            <ValidationObserver ref="form" v-slot="{ invalid, validated, passes }">
              <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Nova conta</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <VTextFieldWithValidation
                    icon="mdi-account"
                    label="Nome"
                    rules="required"
                    v-model="user.name"
                    vid="name"
                  />
                  <VTextFieldWithValidation
                    icon="mdi-email"
                    label="E-mail"
                    rules="required|email"
                    type="email"
                    vid="email"
                    autocomplete="username"
                    v-model="user.email"
                  />
                  <VTextFieldWithValidation
                    icon="mdi-lock"
                    label="Senha"
                    rules="required|min:3"
                    type="password"
                    vid="password"
                    autocomplete="new-password"
                    v-model="user.password" />
                  <VTextFieldWithValidation
                    icon="mdi-lock"
                    label="Confirmar senha"
                    rules="required|min:3|confirmed:password"
                    type="password"
                    vid="passwordConfirmation"
                    autocomplete="new-password"
                    v-model="user.passwordConfirmation"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer/>
                <v-btn color="primary" @click="passes(submit)" :disabled="invalid || !validated">Salvar</v-btn>
              </v-card-actions>
            </v-card>
            </ValidationObserver>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import { ValidationObserver } from "vee-validate";
  import VTextFieldWithValidation from '@/components/inputs/VTextFieldWithValidation';
  import users from "@/services/users";
  import formatValidationErrors from "@/helpers/formatValidationErrors";
  import auth from "@/services/auth";

  export default {
    components: {
      ValidationObserver,
      VTextFieldWithValidation,
    },
    data: () => ({
      user: {}
    }),
    methods: {
      async submit() {
        users.register(this.user).then(
          async () => {
            try {
              this.$swal({
                type: 'success',
                title: 'Cadastro Realizado',
                text: 'Seu cadastro foi realizado com sucesso!',
                timer: 2000
              });
              await auth.login({email: this.user.email, password: this.user.password});
              await this.$router.push({name: 'home'});
            } catch (err) {
              this.$swal({
                type: 'success',
                title: 'Cadastro Realizado',
                text: 'Seu cadastro foi realizado com sucesso! Você será redirectionado a tela de login',
                timer: 2000
              });
              this.$router.push({ name: 'login' });
            }
          },
          ({ errors }) => {
            if (errors) {
              this.$refs.form.setErrors(formatValidationErrors(errors));
            }
          }
        );
      }
    }
  }
</script>
