<template>
  <v-card class="mx-auto" max-width="400">
    <v-img
      class="white--text align-end"
      aspect-ratio="0"
      height="200px"
      contain
      :src="book.thumbnailUrl"
    />
    <v-card-title>{{book.title}}</v-card-title>
    <v-card-text class="text--primary">
      {{book.shortDescription}}
    </v-card-text>

    <v-card-actions v-if="book.availableQuantity > 0">
      <v-spacer></v-spacer>
      <v-btn text color="orange" @click="$emit('checkout', book)">
        Retirar
      </v-btn>
    </v-card-actions>

  </v-card>
</template>

<script>
  export default {
    props: {
      book: {
        type: Object
      }
    },
  };
</script>
